<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstone">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/dev_list"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".Activitiy.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activitiy.MainActivity"></activity>
        <activity android:name=".Activitiy.SetSection"></activity>
        <activity android:name=".Activitiy.SetDevice"></activity>
        <activity android:name=".Draw.DrawAEFeature"></activity>
        <activity android:name=".Draw.DrawSDGFeature"></activity>
        <activity android:name=".Draw.DrawStatus"></activity>
        <activity android:name=".Draw.DrawTESTFeature"></activity>
        <activity android:name=".Draw.DrawScatter"></activity>



    </application>

</manifest>